# CMake build files
/CMakeFiles/
/CMakeCache.txt
/CMakeScripts/
/CMakeTmp/
/*.cmake
Makefile

# Visual Studio Code (VSCode) settings
.vscode/

# Visual Studio (VS) settings
*.suo
*.user
*.sln.docstates

# Compiled binary files (add more if needed)
*.exe
*.out
*.so
*.dll
